{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bonjour (depuis TWIG)</h1>

    {% include 'product/_list.html.twig' with {products : paginatedResults} %}

    <div class="navigation">
        {{ knp_pagination_render(paginatedResults) }}
    </div>
{% endblock %}