{% extends 'base.html.twig' %}

{% block body %}
    <h1>Formulaire de création de Tag</h1>

    {{ form(formTag) }}
    <input type="submit" value="Créer le tag" class="btn btn-success">
{% endblock %}
